<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>nerdy tshirt generator</title>
</head>
<body>
    <header>
        <ul>
            <li><a class="active" href="/">HOME</a></li>
            <li><a href="/shirt">NEW T-SHIRT</a></li>
            <li><a href="/signup">SIGN OUT</a></li>
        </ul>   
        <h1>Your t-shirts</h1>
    </header>
    <main>
        <div>
            <a href="/shirt">
                <h2 class="nameIndex"></h2>
                <h3>Styles:</h3>
                <p class="nameIndex"></p>
                <p class="textIndex"></p>
                <p class="colorIndex"></p>
                <p class="fontIndex"></p>
                <p class="sizeIndex"></p>
                <p class="styleIndex"></p>
                <p class="tcolorIndex"></p>
                <p class="fitIndex"></p>
        </a>
        </div>
        <div>
            <a href="/shirt">
            <h2>Create a new t-shirt</h2>
            <img src="/images/plusicon.png" alt="">
            </a>
        </div>
    </main>
    <footer>

    </footer>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/save.js"></script>
</body>
</html>