<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles4.css">
    <title>Order</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/shirt">NEW T-SHIRT</a></li>
            <li><a href="/signup">SIGN OUT</a></li>
        </ul>   
        <h1>Order your favorite t-shirt</h1>
    </header>
    <main>
        <a href="/shirt">back</a>
        <ul>
            <h2 class="nameOrder"></h2>
            <p>Price: €29,99</p>
            <h3>Styles:</h3>
            <p class="nameOrder"></p>
            <p class="textOrder"></p>
            <p class="colorOrder"></p>
            <p class="fontOrder"></p>
            <p class="sizeOrder"></p>
            <p class="styleOrder"></p>
            <p class="tcolorOrder"></p>
            <p class="fitOrder"></p>
            <li><p>Amount</p></li>
            <li>
                <button>1</button>
                <button>2</button>
                <button>3</button>
            </li>
            <li class="last"> <button>Order</button></li>
        </ul>

    </main>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/order.js"></script>
</body>
</html>