<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles4.css">
    <title>Order</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/shirt">NEW T-SHIRT</a></li>
            <li><a href="/signup">SIGN OUT</a></li>
        </ul>   
        <h1>Order your favorite t-shirt</h1>
    </header>
    <main>
        <img src="/images/shirtfake.png" alt="">
        <ul>
            <h2>Name: Cool shirt with nerdy text</h2>
            <p>Price: €29,99</p>
            <li><p>Amount</p></li>
            <li>
                <button>1</button>
                <button>2</button>
                <button>3</button>
            </li>
            <li><p>M/W/U</p></li>
            <li>
                <button>Men</button>
                <button>Women</button>
                <button>Unisex</button>
            </li>
            <li><p>Size</p></li>
            <li>
                <button>S</button>
                <button>M</button>
                <button>L</button>
            </li>
            <li class="last"> <button>Order</button></li>
        </ul>

    </main>
</body>
</html>