<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Create t-shirt</title>
</head>
<body>
    <header>
        <ul>
            <!-- <li><a href="/">HOME</a></li> -->
            <li><a class="active" href="/shirt">NEW T-SHIRT</a></li>
            <li><a href="/signup">SIGN OUT</a></li>
        </ul>   
        <h1>Create your own t-shirts</h1>
    </header>
    <main>
        <article id="shirt" class="">
            <p class="editor-example" name="p1" id="screen-name"></p>
        </article>
        <section>
            <form method="POST" action="/">
                <h2>T-shirt name</h2>
                <p class="editor-example" name="p1" id="screen-name2"></p>
                <input type="text" id="tsname" name="tsname" class="input2">
                <fieldset class="colors">
                    <h2>Color</h2>
                    <input type="radio" value="blue" name="color" id="blue" class="radio">
                    <label for="blue" id="blue">Blue</label>
                    <input type="radio" value="green" name="color" id="green" class="radio">
                    <label for="green" id="green">Green</label>
                    <input type="radio" value="orange" name="color" id="orange" class="radio">
                    <label for="orange" id="orange">Orange</label>
                    <input type="radio" value="red" name="color" id="red" class="radio">
                    <label for="red" id="red">Red</label>
                    <input type="radio" value="white" name="color" id="white" class="radio">
                    <label for="white" id="white">White</label>
                    <input type="radio" value="black" name="color" id="black" class="radio">
                    <label for="black" id="black">Black</label>
                </fieldset>

                <h2>Text</h2>
                <div class="dropdown">
                <label id="font" class="drop">Font</label>
                <fieldset class="dropdown-content">
                    <input type="radio" value="lobster" name="font" id="lobster">
                    <label for="lobster" id="lobster">Lobster</label>
                    <input type="radio" value="roboto" name="font" id="roboto">
                    <label for="roboto" id="roboto">Roboto</label>
                    <input type="radio" value="quicksand" name="font" id="quicksand">
                    <label for="quicksand" id="quicksand">Quicksand</label>
                </fieldset>
                </div>

                <div class="dropdown2">
                    <label id="size" class="drop">Size</label>
                    <fieldset class="dropdown-content">
                    <input type="radio" value="smaller" name="size" id="smaller">
                    <label for="smaller" id="smaller">Smaller</label>
                    <input type="radio" value="standaard" name="size" id="standaard">
                    <label for="standaard" id="standaard">Standaard</label>
                    <input type="radio" value="bigger" name="size" id="bigger">
                    <label for="bigger" id="bigger">Bigger</label>
                    </fieldset>
                </div>

                <div class="dropdown3">  
                <label id="style" class="drop">Style</label>
                <fieldset class="dropdown-content">
                    <input type="radio" value="regular" name="style" id="regular" class="radio">
                    <label for="regular" id="regular">Regular</label>
                    <input type="radio" value="italic" name="style" id="italic" class="radio">
                    <label for="italic" id="italic">Italic</label>
                    <input type="radio" value="bold" name="style" id="bold" class="radio">
                    <label for="bold" id="bold">Bold</label>
                    <input type="radio" value="light" name="style" id="light" class="radio">
                    <label for="light" id="light">Light</label>
                </fieldset>
                </div>

                <div class="dropdown4">  
                <label id="color" class="drop">Color</label>
                <fieldset class="dropdown-content">
                    <input type="radio" value="black2" name="color2" id="black2" class="radio">
                    <label for="black2" id="black2">Black</label>
                    <input type="radio" value="white2" name="color2" id="white2" class="radio">
                    <label for="white2" id="white2">White</label>
                    <input type="radio" value="blue2" name="color2" id="blue2" class="radio">
                    <label for="blue2" id="blue2">Blue</label>
                    <input type="radio" value="red2" name="color2" id="red2" class="radio">
                    <label for="red2" id="red2">Red</label>
                </fieldset>
                </div>
                    
                <input id="nameID" name="name" type="text" class="input">
                <fieldset class="formFit">
                    <h2>Fit</h2>
                    <input type="radio" value="men" name="fit" id="men" class="radio">
                    <label for="men" id="men">Men</label>
                    <input type="radio" value="women" name="fit" id="women" class="radio">
                    <label for="women" id="women">Women</label>
                    <input type="radio" value="unisex" name="fit" id="unisex" class="radio">
                    <label for="unisex" id="unisex">Unisex</label>
                </fieldset>    
                    <button type="submit" formaction="/shirt/order">Order</button>
                    <button class="storageButton" type="submit" formaction="/">Save</button>
            </form>
        </section>
    </main>
<script src="/scripts/script.js"></script>
</body>
</html>