<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/styles/styles3.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/shirt">NEW T-SHIRT</a></li>
            <li><a class="active" href="/signup">SIGN UP</a></li>
        </ul>   
    </header>
    <main>
        <div>
            <h1>T-shirt generator</h1>
            <h2>Do you want to create, save and order your own cool t-shirts? This is the place! Sign up for free! </h2>
            <img src="./images/makeshirt2.png" alt="">
        </div>
        <form>
            <h3>Sign up here</h3>

            <h4>Name</h4>
            <input name="name" type="text">

            <h4>Email</h4>
            <input name="email" type="text">

            <h4>Phone number</h4>
            <input name="phonenumber" type="text">

            <h4>Adres</h4>
            <input name="adres" type="text">

            <h4>Postal Code</h4>
            <input name="postalcode" type="text">

            <h4>City</h4>
            <input name="city" type="text">

            <h4>Country</h4>
            <input name="country" type="text">

            <button> <a href="/shirt">Sign Up</a></button>
        </form>
    </main>
    <script src="/scripts/script.js">localStorage</script>
</body>
</html>